@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quattrocento&display=swap');

.prjContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.prjHeaderContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    position: static;
}

.prjHeaderIcon {
    width: 65px;
    height: 65px;
    margin-top: 15px;
    margin-right: 5px;
    z-index: 100;
}

.prjHeaderTitle {
    line-height: 60px;
    font-size: 40px;
    margin: 0;
    font-family: 'Nova Mono', monospace;
}

.prjHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prjDivider {
    display: block;
    background-color: #B3F6DE;
    width: 200px;
    height: 5px;
    margin-left: 22px;
    margin-top: -15px;
    border-radius: 10px;
    z-index: -100;
}

.prjContentContainer {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.colDivider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subNav {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    width: 210px;
    height: fit-content;
    text-align: end;
}

.prjContent {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid lightgray;
    margin-bottom: 30px;
    max-width: 800px;
}

.prjName {
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    font-size: 25px;
    margin-bottom: 15px;
}

.prjDesc {
    font-family: 'Quattrocento', serif;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
}

.subtitle {    
    font-family: 'Julius Sans One', sans-serif;
    text-align: left;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
}

.prjDemo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.prjDemo.desktopDemo {
    object-fit: contain;
    width: 550px;
    margin-right: 25px;
    box-shadow: .8px .9px 3px grey;
}

.prjDemo.mobileDemo {
    object-fit: contain;
    width: 170px;
    /* margin-left: 25px; */
    box-shadow: .8px .9px 3px grey;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.notes {
    margin-top: 0px;
    padding-left: 25px;
    padding-right: 20px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;

}

.githubIcon {
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    align-items: center;
    color: rgb(36, 36, 36);

}

.githubIcon:hover {
    color: rgb(96, 96, 96);
}

/* style={{display: "flex", flexDirection: "row", width: "700px"}} */

.subpoints {
    display: flex;
    flex-direction: row;
    width: calc(100vh - 210px);
}

.demofullimg {
    /* tyle={{objectFit: "contain", width: "600px"}} */
    object-fit: contain;
    width: 600px;
}

@media screen and (max-width: 1280px) {
    .prjDesc {
        font-family: 'Quattrocento', serif;
        text-align: left;
        font-size: 20px;
        line-height: 25px;
        width: 90%;
    }

    .subNav {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 27px;
        width: 210px;
        height: fit-content;
        text-align: end;
    }

}

@media screen and (max-width: 1024px) {
    .prjContentContainer {
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    
    .colDivider {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .subNav {
        position: -webkit-sticky;
        position: sticky;
        top: 60px;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 23px;
        width: 170px;
        height: fit-content;
        text-align: end;
    }
    
    .prjContent {
        padding-left: 15px;
        margin-left: 15px;
        border-left: 2px solid lightgray;
        margin-bottom: 30px;
        max-width: 550px;
    }
    
    .prjName {
        font-family: 'Abril Fatface', cursive;
        text-align: left;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .prjDesc {
        font-family: 'Quattrocento', serif;
        text-align: left;
        font-size: 16px;
        line-height: 18px;
    }
    
    .subtitle {    
        font-family: 'Julius Sans One', sans-serif;
        text-align: left;
        font-size: 16px;
        margin: 20px 0px 5px 0px;
    }
    
    .prjDemo {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 100px;
    }
    
    .prjDemo.desktopDemo {
        object-fit: contain;
        width: 380px;
        margin-right: 25px;
        box-shadow: .8px .9px 3px grey;
    }
    
    .prjDemo.mobileDemo {
        object-fit: contain;
        width: 120px;
        /* margin-left: 25px; */
        box-shadow: .8px .9px 3px grey;
    }
    
    .column {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .notes {
        margin-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        font-size: 15px;
        font-family: 'Quicksand', sans-serif;
    
    }
    
    .githubIcon {
        margin-bottom: 10px;
        margin-left: 10px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        align-items: center;
        color: rgb(36, 36, 36);
    
    }
    
    .githubIcon:hover {
        color: rgb(96, 96, 96);
    }

    .subpoints {
        display: flex;
        flex-direction: row;
        width: 550px;
    }

    .demofullimg {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .subNav {
        display: none;
    }

    .prjDemo {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: 180px;
    }
    
    .prjDemo.desktopDemo {
        object-fit: contain;
        width: 280px;
        margin-right: 25px;
        box-shadow: .8px .9px 3px grey;
    }
    
    .prjDemo.mobileDemo {
        object-fit: contain;
        width: 100px;
        /* margin-left: 25px; */
        box-shadow: .8px .9px 3px grey;
    }
    
    .demofullimg {
        width: 400px;
    }
    
    .subpoints {
        display: flex;
        flex-direction: row;
        width: 500px;
    }
}

@media screen and (max-width: 400px) {
    .prjContent {
        padding-left: 15px;
        margin-left: 15px;
        border-left: 2px solid lightgray;
        margin-bottom: 30px;
        max-width: 300px;
    }

    .subpoints {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prjDemo {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 180px;
    }

    .prjDemo.mobileDemo {
        object-fit: contain;
        width: 200px;
        /* margin-left: 25px; */
        box-shadow: .8px .9px 3px grey;
    }

    .demofullimg {
        width: 300px;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
